<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/meta.ejs') %>

    <%- include('partials/links.ejs') %>
</head>

<body>
  <header class="fixed w-full">
    <%- include('partials/header.ejs') %>
  </header>

  <section class="bg-white dark:bg-gray-900">
    <%- include('partials/products.ejs') %>
  </section>

  <section class="bg-white dark:bg-gray-900">
    <%- include('partials/icons.ejs') %>
  </section>

  <section class="bg-gray-50 dark:bg-gray-800">
    <%- include('partials/tools.ejs') %>
  </section>

  <section class="bg-white dark:bg-gray-900">
    <%- include('partials/users.ejs') %>
  </section>

  <section class="bg-gray-50 dark:bg-gray-800">
    <%- include('partials/quote.ejs') %>
  </section>

  <section class="bg-white dark:bg-gray-900">
    <%- include('partials/pricing.ejs') %>
  </section>

  <section class="bg-white dark:bg-gray-900">
    <%- include('partials/faq.ejs') %>
  </section>

  <section class="bg-gray-50 dark:bg-gray-800">
    <%- include('partials/free_trial.ejs') %>
  </section>

  <footer class="bg-white dark:bg-gray-800">
    <%- include('partials/footer.ejs') %>
  </footer>

  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>

</html>
